body {
    font-family: 'Roobert', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #F2E8CF;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    padding-top: 70px;
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif
}
.navbar {
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-brand {
    flex-grow: 1;
}

.navbar-brand h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: Black;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.profile {
    margin-left: auto;
    cursor: pointer;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #1A1A1A;
}

.role-option {
    width: 200px;
    height: 300px;
    display: inline-block;
    text-align: center;
    margin: 50px;
    cursor: pointer;
    position: relative;
    padding-top: 50px;
    border: 2px solid #386641;
    opacity: 90%;
}

.role-option p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #BC4749;
}

.role-option .description {
    margin-top: 10px;
    font-size: 1rem;
    color: #666;
}

.icon-container {
    width: 3cm; /* Resized to 3x3 cm */
    height: 3cm; /* Resized to 3x3 cm */
    margin: 0 auto;
    margin-bottom: 1rem;
}

.role-option img.icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.btn {
    background: rgb(255, 255, 255);
    color: #BC4749;
    border-radius: .5rem;
    transition-duration: 0.25s;
    transition-property: border-top, border-left, border-bottom, border-right, box-shadow;
}

.btn:hover {
    border-bottom: 2px solid #A7C957;
    border-right: 2px solid #A7C957;
    border-top: 2px solid #386641;
    border-left: 2px solid #386641;
    box-shadow: rgba(167, 201, 87, 0.4) 5px 5px, rgba(167, 201, 87, 0.3) 10px 10px, rgba(167, 201, 87, 0.2) 15px 15px;
}

.message-btn {
    position: fixed;
    bottom: 20px;
    right: 200px;
}

.message-btn button {
    appearance: none;
    background-color: #6A994E;
    border: 0.125em solid #1A1A1A;
    border-radius: 50%;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    width: 3em;
    height: 3em;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.message-btn button:disabled {
    pointer-events: none;
}

.message-btn button:hover {
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.message-btn button:active {
    box-shadow: none;
    transform: translateY(0);
}

span {
    content: "\2709";
  }

.popup {
    display: none;
    position: absolute;
    bottom: 0;
    right: 100%;
    margin-right: 10px;
    white-space: nowrap;
    border: 1px solid #ccc;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.popup-content {
    background-color: #fff;
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;
}

.popup::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ccc;
}

.popup::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -8px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #fff;
}