<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>

<body>
    <header class="header d-flex justify-content-between p-4 position-relative" th:fragment="header">
        <div class="d-flex align-items-center">
            <a href="/main">
                <img src="/assets/header/logo.svg" alt="logo" width="40px" height="40px">
            </a>
            <p id="header-name" class="fs-2"><a href="/main" class="text-decoration-none">Grow With You</a></p>
        </div>
        <button id="hamburger-btn" class="btn p-0">
            <img src="/assets/header/hamburger.svg" alt="hamburger-icon">
        </button>
        <div id="hamburger-menu" data-menu-status="closed" class="box-container p-2 position-absolute top-0 end-0"
            style="display: none;">
            <ul class="list-unstyled">
                <li>
                    <a class="text-decoration-none text-dark fs-5" href="/profile">Profile</a>
                </li>
                <!-- <li>
                    <a class="text-decoration-none text-dark fs-5" href="/settings">Settings</a>
                </li> -->
                <li>
                    <a class="text-decoration-none text-dark fs-5" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </header>
</body>

</html>