<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>

<body>
    <nav class="navbar box-container nav justify-content-center m-auto mt-4" th:fragment="navbar">
        <li>
            <a class="text-decoration-none text-dark fs-5" href="/dashboard">Dashboard</a>
        </li>
        <li>
            <a class="text-decoration-none text-dark fs-5" href="/plants">Plants</a>
        </li>
        <li>
            <a class="text-decoration-none text-dark fs-5" href="/messages">Messages</a>
        </li>
        <!-- <li>
            <a class="text-decoration-none text-dark fs-5" href="/payments">Payments</a>
        </li> -->
        <li>
            <a class="text-decoration-none text-dark fs-5" href="/marketplace">Marketplace</a>
        </li>
        <li>
            <a class="text-decoration-none text-dark fs-5" href="/leaderboard">Leaderboard</a>
        </li>
    </nav>
</body>

</html>