<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="userDashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <h1>GroWith You</h1>
            </div>
            <div title="Profile" class="profile">
                <a href="/profile">
                <img src="profile.jpg" alt="Profile Picture" class="profile-pic">
            </a>
            </div>
        </div>
    </nav>
    <div class="container mt-5 text-center">
        <h2>Welcome to your Grower Dashboard!</h2>
        <!-- Add grower-specific content here -->
    </div>
    <div class="message-btn">
        <button title="Messages">
            <span>&#9993;</span>
        </button>
         <div id="popupMessage" class="popup">
            <div class="popup-content">
             
             <p><strong> Admins:</strong> Welcome! We're glad to have you here.&#128515;</p>
            </div>
        </div>
    </div>
    <script src="userDashboard.js"></script>
</body>
</html>
