<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/profileStyle.css">
    <link href='https://fonts.googleapis.com/css?family=Jua' rel='stylesheet'>
</head>

<body>
    <div class="header">
        <nav class="navbar navbar-expand-lg justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <div>
            <img class="profile-image" src="assets/profile.jpg" width="">
        </div>
        <div class="profile-info">
            <h1 th:text="${user.username}"></h1>
            <h2 th:text="${user.role == 0 ? 'admin' : user.role == 1 ? 'grower' : 'sponsor'}"></h2>
            <!-- <button class="edit-btn" onclick=" ">Edit Profile</button> -->
            <p><strong>Balance:</strong>$ <span th:text="${user.balance}"></span></p>
            <div class="stats">
                <span><strong th:text="${profile.posts}"></strong> posts</span>
                <span><strong th:text="${profile.plants}"></strong> plants</span>
            </div>
        </div>
        <!-- <button class="back-btn" onclick="window.history.back()">Back to Home</button> -->
    </div>
</body>

</html>