<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/profileStyle.css">
</head>
<body>
    <div class="container">
        <div>
            <img class="profile-image" th:src="${user.profileImage}">
        </div>
        <div class="profile-info">
            <h1 th:text="${profile.username}"></h1>
            <h2 th:text="${profile.role}"></h2>
            <button class="edit-btn" onclick=" ">Edit Profile</button>
            <p><strong>Balance:</strong>$ <span th:text="${profile.balance}"></span></p>
            <div class="stats">
                <span><strong th:text="${profile.posts}"></strong> posts</span>
                <span><strong th:text="${profile.plants}"></strong> plants</span>
            </div>
        </div>
        <button class="back-btn" onclick="window.history.back()">Back to Home</button> 
    </div>
</body>
</html>


<!-- psql -h dpg-cpubqv1u0jms7389fp0g-a.oregon-postgres.render.com -U profiledb_zzvb_user -d profiledb_zzvb -->
<!-- LCJlnPQ3hLHOB0PXMPLKWdTIEiCCswpI -->


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/profileStyle.css">
</head>
<body>
    <div class="container">
        <div>
            <img class="profile-image" src="download.jpg">
        </div>
        <div class="profile-info">
            <h1>ExampleUser</h1> 
            <h2>Grower</h2> 
            <button class="edit-btn" onclick=" ">Edit Profile</button>
            <p><strong>Balance:</strong> $100.00</p> 
            <div class="stats">
                <span><strong>10</strong> posts</span> 
                <span><strong>25</strong> plants</span> 
            </div>
        </div>
        <button class="back-btn" onclick="window.history.back()">Back to Home</button> 
    </div>
</body>
</html> -->
