#plant-form {
    width: 1200px;
}

#cancel-btn {
    color: white;
    background-color: var(--red);
    height: 50px;
}

#cancel-btn:hover {
    background-color: #BC4749;
}

#signup-btn {
    color: white;
    background-color: #7f4f24;
    height: 50px;
}

#signup-btn:hover {
    background-color: var(--box-title-font-color);
}