.m-0 {
    margin: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

.main-container {
    width: 800px;
    margin-top: 20px !important;
}

.box-container {
    background-color: var(--box-bg);
    border: 5px solid var(--lighter-green) !important;
    border-radius: 15px;
}

#upcoming-payments {
    width: 500px;
    height: 300px;
    overflow-y: scroll;
}

#new-notifications {
    width: 270px;
    height: 530px;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.bottom-box {
    width: 235px;
    height: 200px;
    display: block !important;
}

.box-title {
    font-size: 1.3rem;
    color: var(--box-title-font-color);
}

.notifImg {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: solid 2px var(--lighter-green);
    padding: 5px;
    margin: auto;
    margin-left: 10px;
}

.notifs {
    border-radius: 5px;
    border: solid 5px var(--lighter-green);
}

.notifs-info {
    margin-left: 5px;
}

#payment-table-container {
    overflow-y: scroll;
    overflow-x: scroll;
}

#grower-table,
th,
td {
    background-color: var(--box-bg) !important;
}