h1 {
    font-size: 60px;
    color: #228400;
}

.btn {
    background-color: #7f4f24;
    border-color: #7f4f24;
    width: 500px;
    height: 50px;
}

.btn:active, .btn:hover, .btn:focus{
    background-color: #582F0E !important;
    border-color: #582F0E !important;
    width: 500px;
    height: 50px;
}

.border {
    border-color: #a7c957 !important;
}

.form-control-lg {
    width: 100%;
}

.col-md-8 {
    background-color: #fffaed;
    border: 8px solid #a7c957;
}

i{
    float:right;
    margin-right: 20px;
    margin-top: -40px;
    position: relative;
    z-index: 2;
}