:root {
    --background: #F2E8CF;
    --lighter-green: #A7C957;
    --light-green: #6A994E;
    --dark-green: #386641;
    --red: #BC4749;
    --green: #228400;
    --box-bg: #FFFAED;
    --box-title-font-color: #582F0E;
    --box-title-color: #7F4F24;

}

* {
    font-family: 'Jua' !important;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background) !important;
    background-size: cover;
}