#right-container {
    height: 100%;
}

#message-container {
    flex: 1;
    max-height: 500px;
    margin-bottom: 5px;
    overflow-y: auto;
}

#text-container {
    flex-shrink: 0;
    margin-top: auto;
    padding-top: 0 !important;
    gap: 5px;
}

#message-content {
    flex: 1;
    background-color: #fff6e7 !important;
    border: 2px solid var(--lighter-green);
    border-radius: 5px;
}

#message-btn {
    flex-shrink: 0;
    color: white;
    background-color: #7f4f24;
    border-color: #7f4f24;
    height: 35px;
    width: 60px;
}

#message-btn:hover {
    background-color: #582F0E !important;
    border-color: #582F0E !important;
    color: white;
}

.message-wrapper {
    max-width: 500px;
}

#message-username {
    color: var(--green);
}

#message-text {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

#message-text-wrapper {
    border: 2px solid var(--lighter-green) !important;
    border-radius: 5px !important;
    background-color: #fff6e7 !important;
    max-width: 60%;
}