:root {
    --background: #F2E8CF;
    --lighter-green: #A7C957;
    --light-green: #6A994E;
    --dark-green: #386641;
    --red: #BC4749;
    --green: #228400;
    --box-bg: #FFFAED;
    --box-title-font-color: #582F0E;
    --box-title-color: #7F4F24;
}

body {
    font-family: 'Jua';
    background-color: var(--background);
}

h1 {
    font-size: 60px;
    color: var(--green);
}

input[id='signup-btn'] {
    background-color: var(--box-title-color);
    border-color: var(--box-title-color);
    width: 500px; 
    height: 50px;
}

input[id='signup-btn']:hover, input[id='signup-btn']:active, 
input[id='signup-btn']:focus {
    background-color: var(--box-title-font-color) !important;
    border-color: var(--box-title-font-color) !important;
    width: 500px;
    height: 50px;
}

.border {
    border-color: var(--lighter-green) !important;
}

.form-control-lg {
    width: 100%;
}

.col-md-8 {
    background-color: var(--box-bg);
    border: 8px solid var(--lighter-green);
}

input[name="roleRadio"] {
    width: 30px;
    height: 30px;
    filter: hue-rotate(290deg) contrast(300%);
    border: 0.5px solid black;
}

i {
    float:right;
    margin-right: 20px;
    margin-top: -40px;
    position: relative;
    z-index: 2;
}

.errorMsg {
    color: var(--red);
}