<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="userDashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <h1>GroWith You</h1>
            </div>
            <div title="Profile" class="profile">
                <a href="/profile">
                <img src="profile.jpg" alt="Profile Picture" class="profile-pic">
            </a>
            </div>
        </div>
    </nav>
    <div class="container mt-5 text-center">
        <h2>Welcome to your Grower Dashboard!</h2>
        <p>
            
PRODUCT UPDATE Introducing page labels and colors for easy project management. Check it out
Moqups Logo

    Product
    Templates
    Benefits
    Testimonials
    Pricing 

Log In
Sign up for free
Wireframe, Diagram
& Whiteboard Online

A simple and powerful visual collaboration solution for your whole team.
Sign up for free

No credit card required
Moqups Collaborate Hero
Trusted by over 2,000,000 users worldwide
Microsoft logo Intel logo Sony logo Amazon logo Oracle logo Cisco logo Mozilla logo
Share ideas, map flows, and create mockups for UI and UX designs with one app.

    Wireframes & Mockups

    Create professional wireframes for websites, apps, and dashboards. Work right in the browser, no installation required.

    Drag and drop easy-to-configure elements to take your UI and UX mockups from low to high fidelity.
    Moqups Wireframe Page, Dashboard and App Login

    Moqups Flowchart Diagrams

    Moqups Prototype

    Moqups Collaborate

Collaboration
A flexible design solution that adapts to your workflow.
Work Anywhere With Your Team

Work remotely in the Cloud - anytime and on any device - without the hassle of uploading and downloading files.

Keep a geographically dispersed team collaborating - and always in sync.
Cloud synchronisation
Fast learning curve
One Fast Learning Curve For Everyone

Get collaborators onboard quickly with a single, intuitive interface.

Curated design tools provide the functionality and flexibility that your team really needs - without any unnecessary or distracting complexity.
Accelerate Your Creative Process

Work within a single creative context to maintain your team's focus and momentum.

Keep all stakeholders – Product Managers, Business Analysts, System Architects, Designers and Developers – building consensus and communicating clearly.
Unlimited users subscription
Confetti right
A full ecosystem of tools
within a single design environment.

Go from diagrams, wireframes and prototypes without switching apps or updating across platforms.
Confetti left
Moqups Overview
STENCILS

Crisp, ready-to-use Stencils for all popular use-cases

    Drag and drop elements - quickly and easily - from a comprehensive library of widgets and smart-shapes.
    Select from a range of integrated stencil kits for both mobile-app and web design - including iOS, Android, and Bootstrap.

ICONS

Built-in library with thousands of popular Icon Sets

    Choose from Font Awesome, Material Design, and Hawcons - right at your fingertips.
    Update icons with intelligent drag-and-drop replacement that preserves size, position and style.

IMAGES

Drag and drop to import Images from your desktop or apps

    Upload ready-made designs, and quickly convert them into interactive prototypes.
    Make multiple versions of the same image with non-destructive cropping.

FONTS

Extensive range of Fonts and styling options

    Select from hundreds of font choices with integrated Google Fonts.
    Fine-tune the text to match your designs with advanced typography controls.

Object Editing

Fast, intuitive, and precise Object Editing

    Resize, rotate, align and style objects - or transform multiple objects and groups - with smart and dynamic tools.
    Bulk-edit, rename, lock, and group elements. Undo or redo on multiple levels. Quickly identify objects, navigate through nested groups, and toggle visibility - all within the Outline Panel.
    Make precision adjustments with grids, rulers, custom-guides, snap-to-grid, and quick-alignment tools. Scale, without loss of quality, with vectorial zooming.

Page Management

Powerful, flexible, and scalable Page Management

    Handle projects of any size or complexity with powerful Page Management tools. Drag and drop pages to quickly reorder them - or organize them within folders.
    Search and navigate through complex folder hierarchies with our Pages Panel. Hide pages or folders - that aren’t quite ready for primetime - with a simple click of the mouse.
    Save time by leveraging Master Pages, and automatically apply any changes to all associated pages.

Join over 2,000,000 people already on Moqups
SIGN UP FOR FREE
The essential features and functionality to help you thrive in a competitive design world.
Your team

Communication, Collaboration and Cohesion for Your Team

    checkmark Keep your team focused within a single creative context
    checkmark Jump effortlessly between diagrams, wireframes, mockups and prototypes
    checkmark Maintain momentum by moving seamlessly from low-fidelity to high-fidelity
    checkmark Work in the Cloud and integrate with Slack, Google Drive and Dropbox
    checkmark Avoid chaos by getting timely feedback - right on your designs

Your company

Consolidation, Simplification, and Scalability for Your Company

    checkmark Keep stakeholders on the same page with one design ecosystem
    checkmark Reduce unwanted complexity with professionally-curated design tools
    checkmark Collaborate in real time on a flexible communication platform
    checkmark Simplify your billing with one subscription, one budget, and one invoice
    checkmark Add new seats as you need them – to quickly expand your team and include all partners

Your clients

Comfort, Clarity, and Validation for Your Clients

    checkmark Break the ice with clients - and establish bona fides - with quick wireframes or mockups
    checkmark Create trust , and reassure your clients, by including them in the design process
    checkmark Validate ideas and clarify assumptions early in the game
    checkmark Eliminate back and forth by making changes that are instantly visible online
    checkmark Prove your concept by showing clients interactive prototypes of your vision

What our users think about Moqups
Lara
Lara

@Lara_ux
Every now & then we're resistant to change & then you give in & try and a new design tool and you love it :)! @moqups #ux #collaboration
Carrie Mah
Carrie Mah

@missCarrieMah
I love @moqups - fantastic revamp, and providing #nonprofits and #students free memberships :) Thanks for making #mockup #design easy!
saketsaurabh
saketsaurabh

@saketsaurabh
@moqups proving to be a well thought out and solidly built wireframing tool. Never going back to Balsamiq, FluidUI or Keynote
Jay George
Jay George

@_JayGeorge
The new version of @moqups is really fantastic. My favourite wireframing tool; especially with its excellent collaboration features.
#AskDaveTee
#AskDaveTee

@DaveThackeray
Wireframing is effortless with @moqups . I've tried all the services and this is the most lightweight and effective way to get it done.
Robert Egorov
Robert Egorov

@robert_egorov
@moqups thanks for the great tool. You are really the best. Amazing. I am 3 years with you already. Nobody compares. Don't stop!
Jess Eddy
Jess Eddy

@jesseddy
You can now do some badass diagramming with @moqups
Jeff Reiner
Jeff Reiner

@mirshko
Just copped a license for @moqups pro! Its been super great for mocking up new pages for @Onshape website! Thanks!
WordPress Barista
WordPress Barista

@WPBarista
Having a blast with @moqups - first wireframe - done in an hour!! Woot! #wordPress #design #mockups
Streamline your design workflow and unify your team.

From conception to presentation with one online solution.
SIGN UP FOR FREE

No credit card required

    MOQUPS
    Tour
    Features
    Benefits
    Testimonials
    Pricing
    Wireframe Tool
    Flowchart Maker
    Graph Maker
    Online Whiteboard
    Moqups for JIRA & Confluence 

    TEMPLATES
    Wireframes & Mockups
    Diagrams & Flowcharts
    Mind Maps
    Process Flowcharts
    Site Maps
    Charts & Graphs
    Business Strategy 

    RESOURCES
    What's New
    Blog
    Sitemap
    Moqups Chrome Extension
    Moqups Firefox Add-on 

    SUPPORT
    Help Center
    Contact Us
    FAQ

Moqups Logo Light

© 2024 - S.C Evercoder Software S.R.L.
Terms of Service
Privacy Policy
English Deutsch Italiano Español Français





        </p>
        <!-- Add sponsor-specific content here -->
    </div>
    <div class="message-btn">
        <button title="Messages">
            <span>&#9993;</span>
        </button>
         <div id="popupMessage" class="popup">
            <div class="popup-content">
             
             <p><strong> Admins:</strong> Welcome! We're glad to have you here.&#128515;</p>
            </div>
        </div>
    </div>
    <script src="userDashboard.js"></script>
</body>
</html>
